<div class="inline pagination-div">
	<%= link_to "Previous", {:page=>@previous_page_number}, :class=>"pagination-button gradient" if @previous_page_number>0 %>
	<span class="pagination-span"><%= "#{@page_number}/#{@total_pages} "%></span>
	<%= link_to "Next", {:page=>@next_page_number}, :class=>"pagination-button gradient" if @next_page_number<=@total_pages %>
</div>